body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    min-height: 100vh;
    background-color: yellow;
}

header {
    display: flex;
    background-color: rgb(24, 24, 82);
    justify-content: space-between;
}


.subheader {
    display: flex;
    background-color: pink;
}

.cardzone {
    display: flex;
    height: 100px;
    width: 100px;
}

/*might need to make a separate div class for the images. This section is applying to all images and won't allow for individual customization*/
