body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: yellow;
}

img {
    display: block;
    max-width: 100%;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.section__content {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.section--header, 
.section--subheader {
    background-color: rgb(24, 24, 82);
}

.section--header .section__content {
    display: flex;
    justify-content: space-between;
}

.section--subheader .section__content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subheader__img {
    display: flex;
    flex-shrink: 0;
    width: 25%;
}

.subheader__img img {
    max-height: 200px;
}

.section--cardzone {
    background-color: white;
}

.section--cardzone h2 {
    text-align: center;
}

.cards {
    padding: 50px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.card {
    flex: 1;
}

/*might need to make a separate div class for the images. This section is applying to all images and won't allow for individual customization*/
